In [1]:
3*3

9

In [2]:
3*5

15

quiz) 234235 * 3 , 234235 * 4 , ~~ 234235 * 7 값을 모두 더한값을 출력해보세요.

In [3]:
234235*3 + 234235*4 + 234235*5 + 234235*6 + 234235*7

5855875

In [4]:
a = 234235 # a = 변수, 234235 = 데이터

In [5]:
a*3 + a*4 + a*5 + a*6 + a*7

5855875

### 변수의 종류

In [6]:
a = 14 # 정수 = int

In [7]:
type(a)

int

In [8]:
a = 14.5 # 실수 = float

In [9]:
type(a)

float

In [10]:
a = True # bool

In [11]:
type(a)

bool

In [12]:
b = False # TRUE, true FALSE, false 대문자 소문자 지켜줘야함.

In [13]:
type(b)

bool

In [14]:
c = 'iron-man' # 문자열 = str

In [15]:
type(c)

str

In [16]:
d = "Hulk" # '' or "" 둘 중 아무거나 써도 됨.

In [17]:
type(d)

str

In [18]:
e = "블랙팬서"

In [19]:
type(e)

str

quiz) ''와 ""를 혼용해서 사용할 수 있으면, 장점은 ?

In [20]:
f = '나는 "블랙팬서"를 좋아해.'
f

'나는 "블랙팬서"를 좋아해.'

quiz) ''와 ""를 둘다 사용하고 싶으면요?

In [21]:
g = '''나는 "블랙팬서"와 '아이언맨'을 좋아해'''
g

'나는 "블랙팬서"와 \'아이언맨\'을 좋아해'

In [22]:
h = '''나는 
        아이언맨
        이다.'''

In [23]:
tanos = """나는
           필연적인 존재다."""
tanos

'나는\n           필연적인 존재다.'

### 리스트

In [24]:
hero1 = 'hulk'
hero2 = 'iron-man'
hero3 = 'thor'
hero4 = 'black-panser'
hero5 = 'spider-man'
hero1, hero2, hero3, hero4, hero5 # 번잡스럽다.

('hulk', 'iron-man', 'thor', 'black-panser', 'spider-man')

In [25]:
hero = ['hulk', 'iron-man', 'thor', 'black-panser', 'spider-man']
hero # 깔끔!

['hulk', 'iron-man', 'thor', 'black-panser', 'spider-man']

#### indexing

In [26]:
hero[0]

'hulk'

Quiz) 스파이더맨을 출력하고 싶다면?

풀이) 다섯번째니까 4번째 -> indexing [2]

In [27]:
hero[4]

'spider-man'

풀이2) 마지막번째니까 -1번째 -> indexing [-1]

In [28]:
hero[-1]

'spider-man'

#### slicing(슬라이싱)

Quiz) hulk ~ thor 까지 출력해보세요.

풀이) 0번째, 1번째, 2번째 출력하면 됨.

In [29]:
hero[0], hero[1], hero[2]

('hulk', 'iron-man', 'thor')

풀이2) 0~2번째까지 출력하면 됨. => 0:3이라고 인덱싱하자

In [30]:
hero[0:3] # 슬라이싱은 : 이다!

['hulk', 'iron-man', 'thor']

Quiz) hero 세번째~마지막 번째까지 출력해보세요.

풀이) 세번째~다섯번째까지 = 2번째~4번째까지 => 2:5 슬라이싱!

In [31]:
hero[2:5]

['thor', 'black-panser', 'spider-man']

Quiz) iron-man부터 spider-man 까지 출력해보세요.

풀이) 두번째~다섯번째 => 1번째~4번째 => 슬라이싱 1:5

In [32]:
hero[1:5]

['iron-man', 'thor', 'black-panser', 'spider-man']

풀이) 두번째~마지막번째 => 1번째~-1번째 => 슬라이싱 1:

In [33]:
hero[1:]

['iron-man', 'thor', 'black-panser', 'spider-man']

Quiz) hulk~blackpanser 까지 출력해보세요.

풀이) 첫번째~네번째 => 0번째~3번째 => 슬라이싱 :4

In [34]:
hero[:4]

['hulk', 'iron-man', 'thor', 'black-panser']

Quiz) hero[ : ]는 무엇을 의미할까요?

풀이) [ : ] => 첫번째부터 마지막번째까지구나!

In [35]:
hero[:]

['hulk', 'iron-man', 'thor', 'black-panser', 'spider-man']

#### 리스트에 데이터 추가하기 (append, insert, extend)

- append : a = 1개 데이터 추가하기/ 맨 끝자리에
- insert : 원하는 자리에 1개 데이터 추가하기
- extend : 여러개 데이터 추가하기

In [36]:
hero = ['hulk', 'iron-man', 'thor', 'black-panser', 'spider-man']

Quiz) groot를 추가하고 싶다면?

In [37]:
hero.append('groot')
hero

['hulk', 'iron-man', 'thor', 'black-panser', 'spider-man', 'groot']

Quiz) 원하는 위치에 groot를 추가하고 싶다면?

In [38]:
hero.insert(1, 'groot')

In [39]:
hero

['hulk', 'groot', 'iron-man', 'thor', 'black-panser', 'spider-man', 'groot']

Quiz) '블랙위도우', '캡틴아메리카' 두명을 한번에 추가하고 싶다면?

풀이1) append 사용하기

In [40]:
hero.append(['블랙위도우', '캡틴아메리카'])
hero

['hulk',
 'groot',
 'iron-man',
 'thor',
 'black-panser',
 'spider-man',
 'groot',
 ['블랙위도우', '캡틴아메리카']]

풀이2) extend 사용하기

In [41]:
hero.extend(['블랙위도우', '캡틴아메리카'])
hero

['hulk',
 'groot',
 'iron-man',
 'thor',
 'black-panser',
 'spider-man',
 'groot',
 ['블랙위도우', '캡틴아메리카'],
 '블랙위도우',
 '캡틴아메리카']

#### 원하는 데이터 삭제하기(remove, pop, del, clear)

- remove : 원하는 데이터 삭제 / '데이터'를 명시, 해당 데이터 중 첫번째 데이터 삭제
- pop : 원하는 데이터 삭제 / 'index'를 명시, 'index'명시 x -> 마지막 데이터 삭제, 삭제한 값을 return(반환)
- del : 일반적으로 리스트 자체를 삭제(소멸)
- clear : 리스트 내의 데이터 전부 삭제(청소) -> 빈리스트만 남음.

In [42]:
hero.remove('groot') # 명시한 데이터를 첫번째로 만난 애 하나를 삭제함.
hero

['hulk',
 'iron-man',
 'thor',
 'black-panser',
 'spider-man',
 'groot',
 ['블랙위도우', '캡틴아메리카'],
 '블랙위도우',
 '캡틴아메리카']

In [43]:
hero.insert(1, 'groot')
hero

['hulk',
 'groot',
 'iron-man',
 'thor',
 'black-panser',
 'spider-man',
 'groot',
 ['블랙위도우', '캡틴아메리카'],
 '블랙위도우',
 '캡틴아메리카']

In [44]:
a = hero.pop(6)
hero

['hulk',
 'groot',
 'iron-man',
 'thor',
 'black-panser',
 'spider-man',
 ['블랙위도우', '캡틴아메리카'],
 '블랙위도우',
 '캡틴아메리카']

In [45]:
a

'groot'

Quiz)['블랙위도우', '캡틴아메리카']를 삭제해주세요.

In [46]:
hero.remove(['블랙위도우', '캡틴아메리카']) # pop(6)과 동일한 결과

In [47]:
hero

['hulk',
 'groot',
 'iron-man',
 'thor',
 'black-panser',
 'spider-man',
 '블랙위도우',
 '캡틴아메리카']

In [48]:
del(hero)

hero

hero = ['hulk', 'iron-man', 'thor', 'black-panser', 'spider-man']

In [51]:
del(hero[0])
hero

['iron-man', 'thor', 'black-panser', 'spider-man']

In [52]:
hero.clear()
hero # 빈 리스트

[]

#### 리스트 다루기

- 리스트의 길이 : len(a)
- 리스트 내 특정 데이터의 index : a.index('램프')
- 리스트 내 특정 데이터의 갯수 : a.count('램프')
- 리스트 정렬 : 순) a.sort() 역) a.reverse()
- +, *
- filter 함수를 이용한 리스트 생성

In [1]:
a = ['알라딘', '자스민', '지니', '마법양탄자', '램프']
a

['알라딘', '자스민', '지니', '마법양탄자', '램프']

In [2]:
len(a) # length

5

In [3]:
a.index('램프')

4

In [5]:
a.append('램프')
a

['알라딘', '자스민', '지니', '마법양탄자', '램프', '램프', '램프']

In [6]:
a.count('램프')

3

In [7]:
a.count('알라딘')

1

In [9]:
a.sort()
a

['램프', '램프', '램프', '마법양탄자', '알라딘', '자스민', '지니']

In [12]:
a.reverse()
a

['지니', '자스민', '알라딘', '마법양탄자', '램프', '램프', '램프']

In [13]:
b = ['술탄']

In [14]:
a = a + b
a

['지니', '자스민', '알라딘', '마법양탄자', '램프', '램프', '램프', '술탄']

In [15]:
c = ['자카', '지팡이', '앵무새']
a = a + c
a

['지니', '자스민', '알라딘', '마법양탄자', '램프', '램프', '램프', '술탄', '자카', '지팡이', '앵무새']

In [17]:
[a] * 3

[['지니', '자스민', '알라딘', '마법양탄자', '램프', '램프', '램프', '술탄', '자카', '지팡이', '앵무새'],
 ['지니', '자스민', '알라딘', '마법양탄자', '램프', '램프', '램프', '술탄', '자카', '지팡이', '앵무새'],
 ['지니', '자스민', '알라딘', '마법양탄자', '램프', '램프', '램프', '술탄', '자카', '지팡이', '앵무새']]

In [19]:
#비교
a = ['알라딘', '자스민', '지니', '마법양탄자', '램프']
# => 원소나열법

# 그럼 조건제시법은? => Filter
#짝수
f = list(filter(lambda x: x%2 == 0, range(1,10)))
f

[2, 4, 6, 8]

Quiz) 리스트를 정렬하되, 원본 데이터도 그대로 유지하고 싶으면?  
a = ['알라딘', '자스민', '지니', '마법양탄자', '램프']

In [20]:
a = ['알라딘', '자스민', '지니', '마법양탄자', '램프']
a.sort()

In [22]:
a # a 변수 자체가 정렬되버렸다.

['램프', '마법양탄자', '알라딘', '자스민', '지니']

In [25]:
a = ['알라딘', '자스민', '지니', '마법양탄자', '램프']
a_sorted = sorted(a)
a_sorted

['램프', '마법양탄자', '알라딘', '자스민', '지니']

In [27]:
a # 원본 유지

['알라딘', '자스민', '지니', '마법양탄자', '램프']

In [31]:
a_reversed = reversed(a)
a_reversed

<list_reverseiterator object at 0x000000000570DC88>

In [29]:
a

['알라딘', '자스민', '지니', '마법양탄자', '램프']

Quiz) 가나다 순이 아니라, 문자열의 길이 순으로 정렬하고 싶다면?

In [32]:
a

['알라딘', '자스민', '지니', '마법양탄자', '램프']

In [33]:
a.sort(key=len)
a

['지니', '램프', '알라딘', '자스민', '마법양탄자']

#### 리스트 조금 더 살펴보기
- 리스트의 차원
- 리스트는 여러 타입이 공존할 수 있는 아름다운 공간

In [34]:
a = [1, 2, 3] #1차원
aa = [[1, 2, 3],[4, 5, 6]] #2차원
aaa = [[[1, 2, 3], [4, 5, 6]]] #3차원

In [38]:
a = [1, 'a', 1.0, [1,2,3]]
a_type = type(a[0]), type(a[1]), type(a[2]), type(a[3])
a_type

(int, str, float, list)

In [39]:
type(a_type)

tuple

### Tuple

In [40]:
#list와 비교
hero = ['hulk', 'iron-man', 'groot']
hero_tuple = ('hulk', 'iron-man', 'groot')

In [41]:
hero.append('thor')

- tuple은 변환시킬 수 없다.

hero_tuple.append('thor')

- 사실, tuple은 괄호를 씌울 필요가 없다.

Quiz) a=오렌지주스, b=파인애플주스 들어있는 상태인데,  
a=파인애플주스, b=오렌지주스로 바꾸고 싶다면?

In [46]:
a = 'orange'
b = 'apple'
temp = a
a = b
b = temp
a, b

('apple', 'orange')

In [47]:
#해체 할당 기능
a, b = 'orange', 'apple' #a<-'o', b<-'a'
a, b = b, a #a<-b, b<-a
a, b

('apple', 'orange')

- 리스트 -> tuple, tuple -> list 형변환

In [49]:
a = ['알라딘', '램프', '자스민', '지니'] #리스트
a = tuple(a)
a, type(a)

(('알라딘', '램프', '자스민', '지니'), tuple)

In [52]:
a = list(a)
a, type(a)

(['알라딘', '램프', '자스민', '지니'], list)

### Set(집합)

In [55]:
#리스트, 튜플과 비교
a_list = ['참치', '샐러드', '치즈', '떡갈비']
a_tuple = '참치', '샐러드', '치즈', '떡갈비'

a_set = {'참치', '샐러드', '치즈', '떡갈비'}
a_set, type(a_set)

({'떡갈비', '샐러드', '참치', '치즈'}, set)

a_set.append('돈가스')

- Set(집합)은 중복을 허락하지 않는다!
* 그래서, (리스트에서)중복을 제거하고 싶을 때 set을 사용한다.

In [57]:
number = {1, 2, 3, 4, 5, 1, 2, 3, 4, 5}
number

{1, 2, 3, 4, 5}

In [58]:
number = [1, 2, 3, 1, 2, 3, 1, 1, 1]
number

[1, 2, 3, 1, 2, 3, 1, 1, 1]

In [62]:
# number = set(number)
# number = list(number)
number = list(set(number))
number

[1, 2, 3]

- set은 순서가 없다.(=index가 존재하지 않는다.)

In [65]:
number = {4, 3, 2, 6, 7, 9, 12, 14}
number

{2, 3, 4, 6, 7, 9, 12, 14}

number[0] #indexing 기능이 없다.

- set은 변환할 수 있다.(add, update, remove, discard)

In [66]:
movie = {'원스', '이터널선샤인', '신세계', '시네마천국'}
movie

{'시네마천국', '신세계', '원스', '이터널선샤인'}

In [67]:
movie.add('어바웃타임')
movie

{'시네마천국', '신세계', '어바웃타임', '원스', '이터널선샤인'}

In [68]:
movie.remove('신세계')
movie

{'시네마천국', '어바웃타임', '원스', '이터널선샤인'}

movie.remove('신세계')

In [71]:
movie.discard('신세계')
movie

{'시네마천국', '어바웃타임', '원스', '이터널선샤인'}

In [72]:
movie.update(['신세계', '인셉션'])
movie

{'시네마천국', '신세계', '어바웃타임', '원스', '이터널선샤인', '인셉션'}

- 합집합, 교집합, 차집합

In [76]:
movie2 = {'이터널선샤인', '어바웃타임', '인피니티워', '해리포터:마법사의 돌'}
movie2

{'어바웃타임', '이터널선샤인', '인피니티워', '해리포터:마법사의 돌'}

In [77]:
movie & movie2 #movie.intersection(movie2)

{'어바웃타임', '이터널선샤인'}

In [78]:
movie | movie2 #movie.union(movie2)

{'시네마천국', '신세계', '어바웃타임', '원스', '이터널선샤인', '인셉션', '인피니티워', '해리포터:마법사의 돌'}

In [82]:
movie - movie2 #movie.difference(movie2)

{'시네마천국', '신세계', '원스', '인셉션'}

In [80]:
movie2 - movie

{'인피니티워', '해리포터:마법사의 돌'}

In [81]:
movie^movie2

{'시네마천국', '신세계', '원스', '인셉션', '인피니티워', '해리포터:마법사의 돌'}

### Dictionary(사전)

- key와 value가 존재한다.  
a['key'] = 'value'  
a = {'key1': 'value1', 'key2': 'value2'}

In [84]:
ardino = {'movie': 'eternelsunshine', 'food': 'mangostin', 'drama': 'Giant'}
ardino

{'movie': 'eternelsunshine', 'food': 'mangostin', 'drama': 'Giant'}

In [85]:
ardino['movie']

'eternelsunshine'

In [86]:
ardino['food']

'mangostin'

- 데이터간에 순서가 존재하지 않는다.

In [88]:
data = dict(name='ardino', age=30, job='free')
data, type(data)

({'name': 'ardino', 'age': 30, 'job': 'free'}, dict)

In [89]:
len(data)

3

In [90]:
data.keys()

dict_keys(['name', 'age', 'job'])

In [91]:
data.values()

dict_values(['ardino', 30, 'free'])

In [92]:
data.items()

dict_items([('name', 'ardino'), ('age', 30), ('job', 'free')])

#### indexing

In [93]:
data['name']

'ardino'

#### data 추가하기 & 변경하기

In [94]:
data['major']='electronic' 
data

{'name': 'ardino', 'age': 30, 'job': 'free', 'major': 'electronic'}

In [96]:
data['age']=31
data

{'name': 'ardino', 'age': 31, 'job': 'free', 'major': 'electronic'}

#### 형변환
- 리스트 -> 튜플 : tuple(a)/ 튜플 -> 리스트 : list(a)
- 리스트, 튜플 -> 딕셔너리 : dict(a)

In [101]:
a = [['man', '알라딘'], ['item', '램프'], 
     ['woman', '자스민'], ['engel', '지니']]
a = dict(a)
a

{'man': '알라딘', 'item': '램프', 'woman': '자스민', 'engel': '지니'}

In [102]:
a = (('man', '알라딘'), ('item', '램프'), 
     ('woman', '자스민'), ('engel', '지니'))
a = dict(a)
a

{'man': '알라딘', 'item': '램프', 'woman': '자스민', 'engel': '지니'}

In [105]:
a = [('man', '알라딘'), ['item', '램프'], 
     ('woman', '자스민'), ('engel', '지니')]
a = dict(a)
a

{'man': '알라딘', 'item': '램프', 'woman': '자스민', 'engel': '지니'}

#### dictionary 다루기

data 안에 "name" 이라는 key값이 있었나 궁금하면?

In [106]:
"name" in data

True

In [107]:
"NAME" in data

False

In [108]:
"Name" in data

False

data를 복사하고 싶으면?

In [144]:
data['adress']=['daejeon']
data

{'name': 'ardino',
 'age': 31,
 'job': 'free',
 'major': 'electronic',
 'adress': ['daejeon']}

In [145]:
data_copy = data.copy()
data_copy

{'name': 'ardino',
 'age': 31,
 'job': 'free',
 'major': 'electronic',
 'adress': ['daejeon']}

In [146]:
data_copy['adress'].append('jung-gu')

In [147]:
data_copy

{'name': 'ardino',
 'age': 31,
 'job': 'free',
 'major': 'electronic',
 'adress': ['daejeon', 'jung-gu']}

In [148]:
data #shallow copy

{'name': 'ardino',
 'age': 31,
 'job': 'free',
 'major': 'electronic',
 'adress': ['daejeon', 'jung-gu']}

In [149]:
data['adress'].append('taepyeong-dong')
data

{'name': 'ardino',
 'age': 31,
 'job': 'free',
 'major': 'electronic',
 'adress': ['daejeon', 'jung-gu', 'taepyeong-dong']}

In [150]:
data_copy

{'name': 'ardino',
 'age': 31,
 'job': 'free',
 'major': 'electronic',
 'adress': ['daejeon', 'jung-gu', 'taepyeong-dong']}

In [151]:
data_copy2 = dict(data)
data_copy2

{'name': 'ardino',
 'age': 31,
 'job': 'free',
 'major': 'electronic',
 'adress': ['daejeon', 'jung-gu', 'taepyeong-dong']}

In [152]:
data_copy2['adress'].append('U')
data

{'name': 'ardino',
 'age': 31,
 'job': 'free',
 'major': 'electronic',
 'adress': ['daejeon', 'jung-gu', 'taepyeong-dong', 'U']}

In [153]:
print(data) #import 할 필요 없다. 그냥 사용 가능

{'name': 'ardino', 'age': 31, 'job': 'free', 'major': 'electronic', 'adress': ['daejeon', 'jung-gu', 'taepyeong-dong', 'U']}

data_copy3 = deepcopy(data) #import 없이 사용 불가능

In [154]:
import copy #copy라는 오픈소스(패키지)

In [155]:
data_copy3 = copy.deepcopy(data) #패키지명.메서드
data_copy3

{'name': 'ardino',
 'age': 31,
 'job': 'free',
 'major': 'electronic',
 'adress': ['daejeon', 'jung-gu', 'taepyeong-dong', 'U']}

In [156]:
# 얕은복사와 깊은복사 비교
data_copy['adress'], data_copy2['adress'], data_copy3['adress']

(['daejeon', 'jung-gu', 'taepyeong-dong', 'U'],
 ['daejeon', 'jung-gu', 'taepyeong-dong', 'U'],
 ['daejeon', 'jung-gu', 'taepyeong-dong', 'U'])

In [157]:
data_copy['adress'].remove('U')
data_copy

{'name': 'ardino',
 'age': 31,
 'job': 'free',
 'major': 'electronic',
 'adress': ['daejeon', 'jung-gu', 'taepyeong-dong']}

In [140]:
data_copy2

{'name': 'ardino',
 'age': 31,
 'job': 'free',
 'major': 'electronic',
 'adress': ['daejeon', 'jung-gu', 'taepyeong-dong']}

In [141]:
data_copy3

{'name': 'ardino',
 'age': 31,
 'job': 'free',
 'major': 'electronic',
 'adress': ['daejeon', 'jung-gu', 'taepyeong-dong', 'U']}

In [142]:
data

{'name': 'ardino',
 'age': 31,
 'job': 'free',
 'major': 'electronic',
 'adress': ['daejeon', 'jung-gu', 'taepyeong-dong']}

In [158]:
data_copy3['adress'].remove('taepyeong-dong')
data_copy3['adress']

['daejeon', 'jung-gu', 'U']

In [159]:
data

{'name': 'ardino',
 'age': 31,
 'job': 'free',
 'major': 'electronic',
 'adress': ['daejeon', 'jung-gu', 'taepyeong-dong']}

Quiz) data에서 'adress'값자체를 삭제해주세요.

In [162]:
adress = data.pop('adress')
data

{'name': 'ardino', 'age': 31, 'job': 'free', 'major': 'electronic'}

In [163]:
adress

['daejeon', 'jung-gu', 'taepyeong-dong']

In [164]:
del(data['major'])
data

{'name': 'ardino', 'age': 31, 'job': 'free'}

In [168]:
del data['age']
data

{'name': 'ardino'}

In [169]:
data.clear()
data

{}

In [170]:
#set 과 dict의 공통점 : {}

Quiz) 그렇다면, data = {} 라고 선언하면, data는 set일까 dict일까

In [171]:
data = {}
type(data)

dict

In [172]:
data_set = {1, 2, 3}
data_set

{1, 2, 3}

In [173]:
type(data_set)

set

In [175]:
data_set.clear()

In [176]:
data_set

set()

In [180]:
data_set = set() #= empty set ; {}= empty dict

In [178]:
data_set

set()