# Function

In [2]:
THI = int(input('불쾌지수: '))
SI = int(input('졸림지수: '))

if THI >= 5:
    if SI >= 5:
        print("Home")
    else:
        print("DalDal")
else:
    if SI >=5:
        print("Sleep")
    else:
        print("Study")

불쾌지수: 6
졸림지수: 4
DalDal

- 위의 코드를 재사용하고 싶다면?  
- 드래그? no! 함수? yes!

In [3]:
def sample_1():         #함수정의: sample_1 이라는 함수 
    THI = int(input('불쾌지수: '))
    SI = int(input('졸림지수: '))

    if THI >= 5:
        if SI >= 5:
            print("Home")
        else:
            print("DalDal")
    else:
        if SI >=5:
            print("Sleep")
        else:
            print("Study")

In [4]:
sample_1()  #함수 호출

불쾌지수: 1
졸림지수: 5
Sleep

In [ ]:
print()  #사실 print도 함수였다.

### 함수의 종류 (4종류)

1. input x, output x : sample_1()
2. input o, output x : sample_2(), print()
3. input x, output o : sample_3()
4. input o, output o : sample_4()

In [15]:
def sample_2(num1,num2): #함수 안에서 사용하는 변수(지역변수)는 '명시적'으로 사용할 것!
    add = num1 + num2 
    print('{0} + {1} = {2}'.format(num1,num2,add))

In [16]:
a = 1
b = 2
sample_2(a,b)

1 + 2 = 3

In [20]:
def sample_3():
    name = input('너 이름이 뭐니? ')
    return name

In [19]:
data = sample_3()
data

너 이름이 뭐니?dino

'dino'

In [24]:
def sample_4(name, age):
    data = [name, age]
    return data

In [25]:
info = sample_4('dino','29')

print(info)

['dino', '29']

### 0529

#### lambda 함수  
- 함수긴 함수인데 def으로 만들기엔 조촐하면 lambda 이용

In [7]:
even = lambda x: x%2 == 0

In [8]:
even(3)

False

In [10]:
add_10 = lambda x: x+10

In [11]:
add_10(10)

20

In [12]:
mul_xy = lambda x,y : x*y

In [13]:
mul_xy(2,3)

6

Q. a,b,c를 인자로 하는 lambda함수를 만들되, (a * b)의 c 제곱을 리턴하도록 만들어보시오.

In [15]:
abc = lambda a,b,c : (a*b)**c

In [16]:
abc(3,2,2)

36

#### 가변인자 함수

In [20]:
def func_1(name, age, hobby):
    print(name, age, hobby)
    
func_1('dino', 29, 'song')

dino 29 song

In [21]:
data = ['dino', 29, 'song', 'skydiving']

func_1(data)  #정해진 input 개수가 안맞으면 에러-> 가변인자 해결

TypeError: func_1() missing 2 required positional arguments: 'age' and 'hobby'

In [34]:
def func_1(*info):  #* 가변인자 받으려면 * 필요 (input 개수 자유로움)
    print(info)
    
func_1()   

data = ['dino', 29, 'song', 'skydiving']

func_1(*data)

()
('dino', 29, 'song', 'skydiving')

In [25]:
data = ['dino', 29, 'song', 'skydiving']

def func_2(*data): 
    print(data)  
    print(data[0],data[1],data[2],data[3])  # 대신 여러개를 하나로 인식하는 리스트로 들어감

#이렇게 하면 덩어리 하나(list)로 받아들이는 거라 하나하나의 처리가 어려움 => 해결: dict로 선언

func_2(*data)

('dino', 29, 'song', 'skydiving')
dino 29 song skydiving

In [39]:
data = {'name': 'dino', 'age':29,       
        'hobby':'song', 'bucket':'skydiving'}

def func_3(**data):     #단 dict는 key, value 있어서 ** (별 두개) 필요
    print(*data)        #*는 key값 뽑음
    print(data)         #dict 전체를 뽑음
    print(data['name']) # 특정 value값 뽑으려면 key값 명시 (어쩔수없음// dict여서 인덱스 없기때문)
    
#추가로 dict 활용한 함수들 다 해볼 수 있음    
#    print(data.keys())
#    print(data.values())   
#    print(data.items())

func_3(**data)

name age hobby bucket
{'name': 'dino', 'age': 29, 'hobby': 'song', 'bucket': 'skydiving'}
dino


### 내장 함수  
- python안에서 사용할 수 있는 기본적인 함수들

In [40]:
a = [1,2,3,4]
len(a)

4

In [41]:
sum(a)

10

In [44]:
# avg(a)  # 에러-> 내장함수 아님

avg = sum(a)/len(a)
avg

2.5

In [46]:
max(a)

4

In [47]:
min(a)

1

#### Strip 과 Split

- strip(): 양 옆의 \n와 ' '를 벗겨냄(default)
- strip('ab') : 양 옆의 ab를 벗겨냄(ab 순서 상관없음)
- rstrip() : 오른쪽만 벗겨냄
- lstrip() : 왼쪽만 벗겨냄
  
  
  - split() : 쪼갬
  
  + join 함수 (리스트의 내용물을 문자열로 합침)
  + replace 함수(가운데 있는 문자를 없애고 싶다면)

In [100]:
spo = '     \nI am iron-man'
print('{}'.format(spo, spo.strip()))

I am iron-man

In [101]:
spo = '** ***I am iron-man*** ** '

print('{} -> {}'.format(spo, spo.strip('*'))) #중간의 *은 못없앰 (공백때문에)
print('{} -> {}'.format(spo, spo.strip('* '))) #순서 상관 없음
print('{} -> {}'.format(spo, spo.strip(' *')))

** ***I am iron-man*** **  ->  ***I am iron-man*** **
** ***I am iron-man*** **  -> I am iron-man
** ***I am iron-man*** **  -> I am iron-man

In [103]:
spo = 'I am iron-man'

spo.split() # 스페이스 기준으로 잘라냄

['I', 'am', 'iron-man']

Q. '***\n hulk, thor, iron-man \n'을  
[hulk, thor, iron-man]으로 만들어보세요.

In [141]:
data =  '***\n hulk, thor, iron-man \n'

data = data.strip('*\n ') # *, \n, 공백 -> 3개 벗겨냄
data, type(data)

('hulk, thor, iron-man', str)

In [142]:
data =data.split(', ') # split(쪼갤 기준)
print(data)
print(type(data))  # split 하면 list 됨 (하나를 여러개로 쪼개서 가질려는 거니까)

['hulk', 'thor', 'iron-man']
<class 'list'>

- [hulk, thor, iron-man]를 다시 하나의 문자열 'hulk, thor, iron-man'으로 바꾸고 싶다면?

In [117]:
a =['hulk', 'thor', 'iron-man']
a = str(a).strip("[]")
print(a)
print(type(a))

'hulk', 'thor', 'iron-man'
<class 'str'>

In [143]:
# 더 좋은 방법 => join 함수 (리스트의 내용물을 문자열로 합침)
",".join(data)  # "구분자".join( )

'hulk,thor,iron-man'

Q. 가운데 있는 문자를 없애고 싶다면?

In [144]:
data = '***\n hulk\n, t\nhor, iron-man \n'
data = data.strip('*\n ')  #실패
data

'hulk\n, t\nhor, iron-man'

In [145]:
# 해결 => replace()
data = '***\n hulk\n, t\nhor, iron-man \n'
data = data.strip('*\n ')

data.replace("\n", '')

'hulk, thor, iron-man'

In [147]:
data = '***\n hulk, thor, iron-man \n'

data = data.lstrip('*\n ') #왼쪽만 사라짐
data

'hulk, thor, iron-man \n'

In [148]:
data = '***\n hulk, thor, iron-man \n'

data = data.rstrip('*\n ')  # 오른쪽만 사라짐
data

'***\n hulk, thor, iron-man'

In [179]:
data = 'multicampus'
data.find('m')  #위치를 알려줌 
data.find('u') #중복값은 앞에위치 출력
data.find('z') # 없는걸 물으면?
data.find('m', 1) #

7

In [180]:
data.count('m')

2

In [181]:
data.upper()  #대문자로 변환

'MULTICAMPUS'

In [183]:
data.lower() #데이터를 소문자로 변환

'multicampus'

In [184]:
data.isupper()

False

In [186]:
data.islower() #p.176 더 있음 (코드 친것만 알아도 충분하고 필요하면 구글링)

True

#### 전역변수와 지역변수  
  
- 전역변수 : 함수 밖의 변수
- 지역변수 : 함수 안의 변수 
  
  둘의 차이는 변수의 유효범위!!
  
  +Python에서 변수는 세가지 (LG Bulit in -> 로컬, 글로벌, 내장변수// 중복시 우선순위도 그러함)

In [167]:
a, b = 5, 10
def f_1():
    a = 100
    print(a)  #100= 지역변수 a 
    print(b)

def f_2():
    global a  # 전역변수로 쓰고 싶으면 
    a =10      # 전역변수 a 가 변하는 것
    print(a)

In [164]:
f_1()

100
10

In [168]:
f_2()

10

In [169]:
print(a)  #f_2를 호출한 다음이기 때문에, a =10으로 업데이트

10