In [1]:
3*3

9

In [2]:
3*5

15

quiz) 3 * 3, 3 * 4, ~~ 3*7 값을 모두 더한 값을 출력해보세요.

In [3]:
3*3 + 3*4 + 3*5 + 3*6 + 3*7

75

In [4]:
a = 12345  # a = 변수, 12345 = 데이터

In [5]:
a*3 + a*4 + a*5 + a*6 + a*7

308625

In [6]:
a*(3 + 4 + 5 + 6 + 7)

308625

### 변수의 종류

In [7]:
a = 14  # 정수 = int

In [8]:
type(a)

int

In [9]:
a = 14.5  # 실수 = float

In [10]:
type(a)

float

In [11]:
a = True  # bool (불린)

In [12]:
type(a)

bool

In [13]:
b = False  # TRUE, true, FALSE, false는 대문자, 소문자 지켜줘야함.

In [14]:
type(b)

bool

In [15]:
c = 'iron-man'  # 문자열 = str (스트링)

In [16]:
type(c)

str

In [17]:
d = "hulk"  # '' or "" 둘 중 아무거나 써도 됨.

In [18]:
type(d)

str

In [19]:
e = "캡틴아메리카"

In [20]:
type(e)

str

quiz) ' '와 " "를 혼용해서 사용할 수 있을때의 장점은?

In [21]:
f = '나는 "캡틴아메리카"를 좋아해'
f

'나는 "캡틴아메리카"를 좋아해'

quiz) ''와 ""를 둘 다 사용하고 싶으면?

In [22]:
g = '''나는 "캡틴아메리카"와 '아이언맨'을 좋아해.'''
g

'나는 "캡틴아메리카"와 \'아이언맨\'을 좋아해.'

In [23]:
h = '''나는
         아이언맨
         이다.'''  # ''''''쓰면 2줄, 3줄, ..로 쓸 수 있음.

In [24]:
tanos = '''나는
           필연적인 존재다.'''
tanos

'나는\n           필연적인 존재다.'

###  리스트

In [25]:
hero1 = 'hulk'
hero2 = 'iron-man'
hero3 = 'thor'
hero4 = 'black-panser'
hero5 = 'spider man'
hero1, hero2, hero3, hero4, hero5  #번잡스럽다.

('hulk', 'iron-man', 'thor', 'black-panser', 'spider man')

In [26]:
hero = ['hulk', 'iron-man', 'thor', 'black-panser', 'spider-man']
hero  # 리스트 : [] -> 깔끔!

['hulk', 'iron-man', 'thor', 'black-panser', 'spider-man']

#### indexing

In [27]:
hero[0]

'hulk'

In [28]:
hero[2]  #'thor'는 세번째니까 2번째 (indexing [2])

'thor'

In [29]:
hero[-1]  #리스트에서 마지막번째는 -1번째도 가능 (indexing [-1])

'spider-man'

#### slicing

quiz)hulk ~ thor 까지 출력해보세요.

풀이1) 0번째, 1번째, 2번째 출력하면 됨.  ->indexing

In [30]:
hero[0], hero[1], hero[2]

('hulk', 'iron-man', 'thor')

풀이2) 0~2번째까지 출력하면 됨.   ->slicing  => 0:3 이라고 쓰자. (slicing은 콜론 다음부분을 +1해서 쓰기)

In [31]:
hero[0:2]  #슬라이싱은 : 이다!

['hulk', 'iron-man']

In [32]:
hero[0:3]

['hulk', 'iron-man', 'thor']

quiz) hero 3~마지막 번째까지 출력해보세요.

풀이) 세번째~다섯번째까지 = 2번째~4번째 => 2:5 슬라이싱!

In [33]:
hero[2:5]

['thor', 'black-panser', 'spider-man']

quiz) iron-man부터 spider-man까지 출력해보세요.

In [34]:
hero[1:5]  #두번째~다섯번째 => 1번째~4번째 => 슬라이싱 1:5

['iron-man', 'thor', 'black-panser', 'spider-man']

풀이) 두번째~마지막번째 => 1번째~ -1번째 => 슬라이싱 1:

In [35]:
hero = ['hulk', 'iron-man', 'thor', 'black-panser', 'spider-man']
hero

['hulk', 'iron-man', 'thor', 'black-panser', 'spider-man']

In [36]:
hero[1:]

['iron-man', 'thor', 'black-panser', 'spider-man']

In [37]:
hero[1:-1]

['iron-man', 'thor', 'black-panser']

In [38]:
hero[0:4]  #첫번째~네번째 =>0번째~3번째 => 슬라이싱 0:4

['hulk', 'iron-man', 'thor', 'black-panser']

In [39]:
hero[:4]  #0번째는 생략 가능.

['hulk', 'iron-man', 'thor', 'black-panser']

quiz) hero[ : ]는 무엇을 의미할까요?

풀이) [ : ] => 첫번째부터 마지막번째까지!

In [40]:
hero[:]

['hulk', 'iron-man', 'thor', 'black-panser', 'spider-man']

#### 리스트에 데이터 추가하기 (append, insert, extend)

- append : a = 1개 데이터 추가하기/ 맨 끝자리에 
- insert : 원하는 자리에 1개 데이터 추가하기
- extend : 여러개 데이터 추가하기

quiz) groot를 추가하고 싶다면?

In [41]:
hero = ['hulk', 'iron-man', 'thor', 'black-panser', 'spider-man']
hero

['hulk', 'iron-man', 'thor', 'black-panser', 'spider-man']

In [42]:
hero.append('groot')  # append는 맨 뒤에 추가.
hero

['hulk', 'iron-man', 'thor', 'black-panser', 'spider-man', 'groot']

quiz) 원하는 위치에 추가하고 싶다면?

In [43]:
hero.insert(1, 'groot')  
hero

['hulk', 'groot', 'iron-man', 'thor', 'black-panser', 'spider-man', 'groot']

quiz) '블랙위도우', '캡틴아메리카' 두 명을 한 번에 추가하고 싶다면?

풀이1) append 사용하기

In [44]:
hero.append(['블랙위도우','캡틴아메리카'])  #두개 넣고싶으면 list[]로 묶어서 넣어야한다. 하나처럼 같이 들어감. 
hero

['hulk',
 'groot',
 'iron-man',
 'thor',
 'black-panser',
 'spider-man',
 'groot',
 ['블랙위도우', '캡틴아메리카']]

풀이2) extend 사용하기

In [45]:
hero.extend(['블랙위도우','캡틴아메리카'])  #따로따로 들어감.
hero

['hulk',
 'groot',
 'iron-man',
 'thor',
 'black-panser',
 'spider-man',
 'groot',
 ['블랙위도우', '캡틴아메리카'],
 '블랙위도우',
 '캡틴아메리카']

#### 원하는 데이터 삭제하기(remove, pop, del, clear)

- remove : 원하는 데이터 삭제 /  '데이터'를 명시해야함, 해당 데이터 중 첫번째 데이터만 삭제.
- pop : 원하는 데이터 삭제 / 'index'를 명시해야함, 'index' 명시하지 않으면 마지막 데이터 삭제, 삭제한 값을 return(반환)
- del : 일반적으로 리스트 자체를 삭제(소멸) 
- clear : 리스트 내의 데이터 전부 삭제(청소), 빈 리스트만 남음.

In [46]:
hero.remove('groot')  # remove는 명시한 데이터를, 첫번째로 만난 애 하나만 삭제함. 
hero

['hulk',
 'iron-man',
 'thor',
 'black-panser',
 'spider-man',
 'groot',
 ['블랙위도우', '캡틴아메리카'],
 '블랙위도우',
 '캡틴아메리카']

In [47]:
hero.insert(1,'groot')
hero

['hulk',
 'groot',
 'iron-man',
 'thor',
 'black-panser',
 'spider-man',
 'groot',
 ['블랙위도우', '캡틴아메리카'],
 '블랙위도우',
 '캡틴아메리카']

In [48]:
a = hero.pop(6)  #pop은 원하는 번째의 데이터를 삭제함. a에는 삭제한 대상이 나오게 되는것.
hero

['hulk',
 'groot',
 'iron-man',
 'thor',
 'black-panser',
 'spider-man',
 ['블랙위도우', '캡틴아메리카'],
 '블랙위도우',
 '캡틴아메리카']

In [49]:
a

'groot'

quiz) ['블랙위도우', '캡틴아메리카']를 삭제해주세요.

In [50]:
hero.pop(6)
hero

['hulk',
 'groot',
 'iron-man',
 'thor',
 'black-panser',
 'spider-man',
 '블랙위도우',
 '캡틴아메리카']

In [51]:
del(hero)  #delete는 리스트 자체를 없애버리는 것.

In [52]:
hero   #del 했더니 존재하지 않는 것으로 나옴.

NameError: name 'hero' is not defined

In [ ]:
hero = ['hulk', 'iron-man', 'thor', 'black-panser', 'spider-man']

In [ ]:
del(hero[0])
hero

In [ ]:
hero.clear()
hero  #clear는 리스트 안에 있는 것을 없애는 것. hero 자체는 남아있음. 빈 리스트

#### 리스트 다루기

- 리스트의 길기 : len(a)
- 리스트 내 특정 데이터의 index : a.index('램프')
- 리스트 내 특정 데이터의 갯수 : a. count('램프')
- 리스트 정렬 : 순) a.sort()   역) a.reverse()
- +, *
- filter 함수를 이용한 리스트 생성

In [ ]:
a = ['알라딘', '자스민', '지니', '마법양탄자', '램프']
a

In [ ]:
len(a)  #length

In [ ]:
a.index('램프')

In [ ]:
a.append('램프')
a

In [ ]:
a.count('램프')

In [ ]:
a.count('알라딘')

In [ ]:
a.sort()
a

In [ ]:
a.reverse()
a

In [ ]:
b = ['술탄']

In [ ]:
a = a + b
a

In [ ]:
c = ['자카', '지팡이', '앵무새']
a = a+c
a

In [ ]:
a * 3

In [ ]:
[a] * 3

In [ ]:
# 비교
a = ['알라딘', '자스민', '지니', '마법양탄자', '램프']
# -> 원소나열법

# 그럼 조건제시법은? => Filter
# 짝수
f = list(filter(lambda x: x%2 == 0, range(1,10)))
f

quiz) 리스트를 정렬하되, 원본 데이터도 그대로 유지하고 싶으면?     
a = ['알라딘', '자스민', '지니', '마법양탄자', '램프']

In [ ]:
a = ['알라딘', '자스민', '지니', '마법양탄자', '램프']
a.sort()

In [ ]:
a  # a 변수 자체가 정렬되버렸다.

In [ ]:
a = ['알라딘', '자스민', '지니', '마법양탄자', '램프']
a_sorted = sorted(a)
a_sorted

In [ ]:
a  # 원본 유지

quiz) 가나다 순이 아니라, 문자열의 길이 순으로 정렬하고 싶다면?

In [ ]:
a

In [ ]:
a.sort(key=len)
a

#### 리스트 조금 더 살펴보기
- 리스트의 차원
- 리스트는 여러 타입이 공존할 수 있는 아름다운 공간

In [ ]:
a = [1, 2, 3]  #1차원
aa = [[1, 2, 3], [4, 5, 6]]  #2차원
aaa = [[[1, 2, 3], [4, 5, 6]]]   #3차원

In [ ]:
a = [1, 'a', 1.0, [1,2,3]]
type(a[0])

In [ ]:
a = [1, 'a', 1.0, [1,2,3]]
a_type = type(a[0]), type(a[1]), type(a[2]), type(a[3])  # 소괄호를 사용하지 않으면 자동적으로 튜플로 인식
a_type

In [ ]:
type(a_type)

### Tuple

In [ ]:
#list와 비교
hero = ['hulk', 'iron-man', 'groot']
hero_tuple = ('hulk', 'iron-man', 'groot')

In [ ]:
hero.append('thor')

- tuple은 변환시킬 수 없다.

hero_tuple.append('thor')  #error 뜸

- 사실, tuple은 괄호를 씌울 필요가 없다.

quiz) a=오렌지주스, b=파인애플주스 들어있는 상태인데,  
a=파인애플주스, b=오렌지주스로 바꾸고 싶다면?

In [ ]:
a = 'ornage'
b = 'apple'
temp = a
a = b
b = temp
a, b

In [ ]:
# 해체 할당 기능
a, b = 'dog', 'cat'  #d<-'c', c<-'d'
a, b = b, a   #d<-c, c<-d
a, b

- 리스트 -> tuple, tuple ->  list 형변환

In [ ]:
a = ['알라딘', '램프', '자스민', '지니']  #리스트
a = tuple(a)
a

In [ ]:
type(a)

In [ ]:
a = list(a)
a

In [ ]:
type(a)

### Set(집합)

In [ ]:
#리스트, 튜플과 비교
a_list = ['참치', '샐러드', '치즈', '떡갈비']
a_tuple = ('참치', '샐러드', '치즈', '떡갈비')

a_set = {'참치', '샐러드', '치즈', '떡갈비'}
a_set, type(a_set)

a_set.append('돈가스')  #error뜸

- Set(집합)은 중복을 허락하지 않는다!
- 그래서, (리스트에서) 중복을 제거하고 싶을 때 set을 사용한다.

In [ ]:
number = {1, 2, 3, 4, 5, 1, 2, 3, 4, 5}
number

In [ ]:
number = [1, 2, 5, 3, 2, 1, 2, 1]
number

In [ ]:
number = set(number)  #1
number

In [ ]:
number = list(number)  #2
number

In [ ]:
number = list(set(number))   #위의 과정을 한번에(1+2)
number

- set은 순서가 없다. 즉, index가 존재하지 않는다.

In [ ]:
number = {4, 3, 2, 6, 7, 5, 9} 
number

number[0]  #error 뜸. indexing 기능이 없다.

- set은 변환할 수 있다. (add, update, remove, discard)

In [ ]:
movie = {'원스', '이터널선샤인', '신세계', '시네마천국'}
movie

In [ ]:
movie.add('어바웃타임')
movie

In [ ]:
movie.remove('신세계')
movie

movie.remove('신세계')

In [ ]:
movie.discard('신세계')   #데이터 내에 없는 것 버려도 에러나지 않음.
movie

In [ ]:
movie.update(['신세계', '인셉션'])
movie

- 합집합, 교집합, 차집합 (참고)

In [ ]:
movie2 = {'이터널선샤인', '어바웃타임', '인피니티워', '해리포터:마법사의 돌'}
movie2

In [ ]:
movie & movie2   #movie.intersection(movie2)

In [ ]:
movie | movie2   #movie.union(movie2)

In [ ]:
movie2 - movie    #movie.difference(movie2)

In [ ]:
movie^movie2   #합집합에서 교집합 뺀 것

### Dictionary(사전)

- key와 value가 존재한다.  
a['key'] = 'value'  
a = {'key1': 'value1', 'key2': 'value2'}

In [ ]:
aejin = {'movie': 'harry potter', 'food': 'udong', 'drama': '미사'}
aejin

In [ ]:
aejin['movie']

- 데이터간에 순서가 존재하지 않는다.

In [101]:
data = dict(name='aejin', age=27, job='free')
data, type(data)

({'name': 'aejin', 'age': 27, 'job': 'free'}, dict)

In [102]:
len(data)

3

In [103]:
data.keys()

dict_keys(['name', 'age', 'job'])

In [104]:
data.values()

dict_values(['aejin', 27, 'free'])

In [105]:
data.items()

dict_items([('name', 'aejin'), ('age', 27), ('job', 'free')])

#### indexing

In [106]:
data['name']

'aejin'

#### data 추가하기&변경하기

In [107]:
data['major']='chemical engineering'
data

{'name': 'aejin', 'age': 27, 'job': 'free', 'major': 'chemical engineering'}

In [108]:
data['age']=25
data

{'name': 'aejin', 'age': 25, 'job': 'free', 'major': 'chemical engineering'}

#### 형변환
- 리스트 -> 튜플 : tuple(a)   /    튜플 -> 리스트 : list(a)
- 리스트, 튜플 -> 딕셔너리 : dict(a)

In [109]:
a = [['man', '알라딘'], ['item', '램프'], ['woman', '자스민'], ['angel', '지니']] 
a = dict(a)
a

{'man': '알라딘', 'item': '램프', 'woman': '자스민', 'angel': '지니'}

In [110]:
a = (('man', '알라딘'), ('item', '램프'), ('woman', '자스민'), ('angel', '지니'))
a = dict(a)
a

{'man': '알라딘', 'item': '램프', 'woman': '자스민', 'angel': '지니'}

In [111]:
a = [('man', '알라딘'), ('item', '램프'), ['woman', '자스민'],('angel', '지니')]
a = dict(a)
a

{'man': '알라딘', 'item': '램프', 'woman': '자스민', 'angel': '지니'}

#### dictionary 다루기

data 안에 "name"이라는 key값이 있었나 궁금하면?

In [112]:
'name' in data

True

In [113]:
"NAME" in data

False

In [114]:
"Name" in data

False

data를 복사하고 싶으면?

In [115]:
data['address']=['kyunggi']
data

{'name': 'aejin',
 'age': 25,
 'job': 'free',
 'major': 'chemical engineering',
 'address': ['kyunggi']}

In [116]:
data_copy = data.copy()   #얕은 복사는 copy함수. 얕은 복사는 모두 다 연동되는 것.
data_copy

{'name': 'aejin',
 'age': 25,
 'job': 'free',
 'major': 'chemical engineering',
 'address': ['kyunggi']}

In [117]:
data_copy['address'].append('kwnagju')

In [118]:
data_copy

{'name': 'aejin',
 'age': 25,
 'job': 'free',
 'major': 'chemical engineering',
 'address': ['kyunggi', 'kwnagju']}

In [119]:
#data shallow copy

In [120]:
data['address'].append('opo')
data

{'name': 'aejin',
 'age': 25,
 'job': 'free',
 'major': 'chemical engineering',
 'address': ['kyunggi', 'kwnagju', 'opo']}

In [121]:
data_copy

{'name': 'aejin',
 'age': 25,
 'job': 'free',
 'major': 'chemical engineering',
 'address': ['kyunggi', 'kwnagju', 'opo']}

In [122]:
data_copy2 = dict(data)
data_copy2

{'name': 'aejin',
 'age': 25,
 'job': 'free',
 'major': 'chemical engineering',
 'address': ['kyunggi', 'kwnagju', 'opo']}

In [123]:
data_copy2['address'].append('U')
data_copy2

{'name': 'aejin',
 'age': 25,
 'job': 'free',
 'major': 'chemical engineering',
 'address': ['kyunggi', 'kwnagju', 'opo', 'U']}

In [124]:
data

{'name': 'aejin',
 'age': 25,
 'job': 'free',
 'major': 'chemical engineering',
 'address': ['kyunggi', 'kwnagju', 'opo', 'U']}

In [125]:
print(data)   #import 할 필요 없다. 그냥 사용 가능.

{'name': 'aejin', 'age': 25, 'job': 'free', 'major': 'chemical engineering', 'address': ['kyunggi', 'kwnagju', 'opo', 'U']}

data_copy3 = deepcopy(data) #import 없이 사용 불가능.   #딥카피는 깊은 복사. 나머지와 연동되지 않음.

In [126]:
import copy   #copy라는 오픈소스(패키지)

In [ ]:
data_copy3 = copy.deepcopy(data)   #패키지명.매소드
data_copy3

In [ ]:
# 얕은복사와 깊은복사 비교
data_copy['address'], data_copy2['address'], data_copy3['address']

In [84]:
data_copy2

{'name': 'aejin',
 'age': 25,
 'job': 'free',
 'major': 'chemical engineering',
 'address': ['kyunggi', 'kwnagju', 'opo', 'U']}

In [85]:
data_copy3

{'name': 'aejin',
 'age': 25,
 'job': 'free',
 'major': 'chemical engineering',
 'address': ['kyunggi', 'kwnagju', 'opo', 'U']}

In [86]:
data

{'name': 'aejin',
 'age': 25,
 'job': 'free',
 'major': 'chemical engineering',
 'address': ['kyunggi', 'kwnagju', 'opo', 'U']}

In [87]:
data_copy3['address'].remove('opo')
data_copy3['address']

['kyunggi', 'kwnagju', 'U']

In [99]:
data

{}

quiz) data에서 'address'값 자체를 삭제해주세요.

In [98]:
del(data['address'])

KeyError: 'address'

In [93]:
#set과 dic의 공통점 :()

그렇다면, data={}라고 선언하면, data는 set일까 dict일까

In [94]:
data = {}
type(data)

dict

In [100]:
data_set.clear()

NameError: name 'data_set' is not defined