# Function

In [9]:
def sample_1():   #함수 정의 ; sample_1이라는 함수
    THI = int(input('불쾌지수:'))
    SI = int(input('졸림지수:'))

    if SI >= 5:
        if THI >= 5:
            print("HOME")
        else:
            print("Sleep")
    else:
        if THI >= 5:
            print("달달")
        else:
            print("study")

- 위의 코드를 재사용하고 싶다면?

- 드래그? 노! 함수? 예스!

In [11]:
sample_1()  #함수 호출

불쾌지수:5
졸림지수:4
달달

In [12]:
print()  #사실 print도 함수였다.

### 함수의 종류(4종류)
1. input x, output x
2. input o, output x
3. input x, output o
4. input o, output o

In [19]:
def sample_2(num1, num2):   # 함수 안에서 사용하는 변수(지역변수)는 "명시적"으로 사용하자!
    c = num1 + num2
    print('{0} + {1} = {2}'.format(num1,num2,c))

In [20]:
a = 1   #전역변수
b = 2
sample_2(a, b)

1 + 2 = 3

In [21]:
def sample_3():
    name = input('너 이름이 뭐니?')
    return name

In [22]:
data = sample_3()
print(data)

너 이름이 뭐니?애진
애진

In [23]:
def sample_4(name, age):
    data = [name, age]
    return data

In [24]:
info = sample_4('애진', '27')

print(info)

['애진', '27']

#### lambda 함수

In [25]:
even = lambda x: x%2 == 0

In [26]:
even(4)

True

In [27]:
add_10 = lambda x: x+10

In [28]:
add_10(10)

20

In [29]:
mul_xy = lambda x, y: x*y

In [30]:
mul_xy(13,22)

286

quiz)a,b,c를 인자로 하는 lambda함수를 만들되, (a*b)의 c제곱을 리턴하도록 만들어보세요.

In [31]:
abc = lambda a,b,c : (a*b)**c

In [32]:
abc(2,4,3)

512

#### 가변인자 함수

In [38]:
def func_1(*data):
    print(data)
    
func_1('aejin', '27','movie')

('aejin', '27', 'movie')

In [49]:
data = ['aejin', '27', 'movie', 'music']

def func_2(*data):
    print(data[0],data[1])
    print(data)    
func_2(*data)

aejin 27
('aejin', '27', 'movie', 'music')

In [50]:
data = ('aejin', '27', 'movie', 'music')

def func_2(*data):
    print(data[0],data[1])
    print(data)    
func_2(*data)

aejin 27
('aejin', '27', 'movie', 'music')

In [48]:
data = {'name': 'aejin', 'age': 27, 'hobby': 'movie'}

def func_3(**data):
   # print(**data)  #불가
    print(*data)
    print(data)   #dictionary
    print(data['name'])
    print(data.keys())
    print(data.values())
    print(data.items())
    
func_3(**data)

name age hobby
{'name': 'aejin', 'age': 27, 'hobby': 'movie'}
aejin
dict_keys(['name', 'age', 'hobby'])
dict_values(['aejin', 27, 'movie'])
dict_items([('name', 'aejin'), ('age', 27), ('hobby', 'movie')])

#### 내장함수

In [51]:
a = [1,2,3,4]

len(a)

4

In [52]:
sum(a)

10

In [54]:
avg = sum(a)/len(a)
avg

2.5

In [55]:
max(a)

4

In [56]:
min(a)

1

In [59]:
spo = 'i am iron-man'

spo.split()

['i', 'am', 'iron-man']

- strip() : 양 옆의

In [61]:
spo = '    \ni am iron-man\n\n'
print('{}  -> {}'.format(spo, spo.strip()))

i am iron-man

  -> i am iron-man

In [119]:
spo = '**  ***i am iron-man***  **'
print('{}  -> {}'.format(spo, spo.strip('*')))   #중간의 *은 못 없앰
print('{}  -> {}'.format(spo, spo.strip('* ')))  
print('{}  -> {}'.format(spo, spo.strip(' *')))   #순서 상관 x

**  ***i am iron-man***  **  ->   ***i am iron-man***
**  ***i am iron-man***  **  -> i am iron-man
**  ***i am iron-man***  **  -> i am iron-man

quiz) '***\n hulk, thor, iron-man \n'을 
[hulk, thor, iron-man]으로 만들어보세요.

In [163]:
y = '***\n hulk, thor, iron-man \n'

data = y.strip('\n* ')
data

'hulk, thor, iron-man'

In [164]:
data = data.split(', ') #split(나누는 '기준')
data

['hulk', 'thor', 'iron-man']

- ['hulk', 'thor','iron-man']를 다시 하나의 문자열 'hulk, thor, iron-man'로 바꾸고 싶다면?

In [165]:
', '.join(data)

'hulk, thor, iron-man'

-가운데 있는 문자를 없애고 싶다면?

In [166]:
data = '***\n hulk, \nthor, \nrion-man \n'
data.strip('*\n ')

'hulk, \nthor, \nrion-man'

In [167]:
data = data.replace("*\n",'')
data

'** hulk, \nthor, \nrion-man \n'

In [129]:
data = '***\n hulk, \nthor, \nrion-man \n'

data = data.lstrip('*\n ')
data

'hulk, \nthor, \nrion-man \n'

In [130]:
data = data.rstrip('*\n ')
data

'hulk, \nthor, \nrion-man'

In [172]:
data = 'multicampus'
data.find('c',4)

5

In [173]:
data.count('m')

2

In [174]:
data.upper()

'MULTICAMPUS'

In [175]:
data.lower()

'multicampus'

In [177]:
data.isupper()

False

In [178]:
data.islower()

True

#### 전역변수와 지역변수  
  
- 전역변수 : 함수 밖의 변수
- 지역변수 : 함수 안의 변수
  
  
  둘의 차이는 변수의 유효범위!

In [155]:
a, b = 5, 10

def f_1():
    a = 100
    print(a)   #100 = 지역변수 a
    print(b)
    
def f_2():
    global a
    a = 10
    print(a)

In [156]:
f_1()

100
10

In [157]:
f_2()

10

In [159]:
print(a)   #f_2() 호출한 다음이기 때문에, a=10으롷 업데이트

10