In [1]:
import time

In [4]:
time.time() #현재 시작 -> 코드 수행 시간 체크할 때 사용.

1559104616.6981297

In [3]:
time.time()

1559104563.545554

In [5]:
start = time.time()
start

1559104644.4356687

In [14]:
for i in range(10000):
    a = i * 10
    if i%1000 == 0:
        print('{}={}X10'.format(a,i))

0=0X10
10000=1000X10
20000=2000X10
30000=3000X10
40000=4000X10
50000=5000X10
60000=6000X10
70000=7000X10
80000=8000X10
90000=9000X10

In [8]:
end = time.time()

print('time: {}'.format(end-start))

time: 186.54526257514954

In [9]:
time.time()

1559104917.101052

In [45]:
present = time.localtime(time.time())
present

time.struct_time(tm_year=2019, tm_mon=5, tm_mday=29, tm_hour=14, tm_min=24, tm_sec=21, tm_wday=2, tm_yday=149, tm_isdst=0)

In [11]:
present.tm_year

2019

In [15]:
'{}h {}m {}s'.format(present.tm_hour, present.tm_min, present.tm_sec)

'4h 42m 38s'

In [16]:
import datetime

In [17]:
present = datetime.datetime.now()
present

datetime.datetime(2019, 5, 29, 13, 48, 45, 391630)

In [18]:
present.year, present.month, present.day

(2019, 5, 29)

In [19]:
present.hour, present.min, present.second, present.microsecond

(13, datetime.datetime(1, 1, 1, 0, 0), 45, 391630)

In [20]:
present.weekday()

2

In [24]:
present.strftime("%Y-%m(%B)-%d(%A) %H:%M:%S")

'2019-05(May)-29(Wednesday) 13:48:45'

In [25]:
present.date()

datetime.date(2019, 5, 29)

In [28]:
class a:
    var = 1

In [29]:
a.var

1

In [30]:
present.date()

datetime.date(2019, 5, 29)

In [31]:
present.time()

datetime.time(13, 48, 45, 391630)

In [33]:
birth = datetime.datetime.strptime("1993-09-09 12:15:13", "%Y-%m-%d %H:%M:%S")

birth

datetime.datetime(1993, 9, 9, 12, 15, 13)

In [41]:
from dateutil.relativedelta import *

In [42]:
first = datetime.datetime.strptime("2016-11-17 19:55:34",
                                 "%Y-%m-%d %H:%M:%S")
first

datetime.datetime(2016, 11, 17, 19, 55, 34)

In [43]:
D_1000 = first + relativedelta(days=+1000)
D_1000

datetime.datetime(2019, 8, 14, 19, 55, 34)

In [44]:
today = present - first
print('오늘은 우리가 만난지 {}번째' .format(today.days))

오늘은 우리가 만난지 922번째